.bootgrid-footer .pagination {
    font-size: 11px;
}

.bootgrid-header .actionBar, .bootgrid-footer .infoBar {
    font-size: 11px;
    text-align: right;
    font-weight:bold;
}

.bootgrid-table {
    font-size:11px !important;
}

.table {
    font-size:12px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    padding:5px;
}